body {
    background: url('https://preview.redd.it/ive-been-drawing-every-pok%C3%A9mon-in-order-and-now-that-ive-v0-80ay1eu132na1.jpg?auto=webp&s=967c629e3083edaeabcdee7365399bc344566422') no-repeat center center fixed;
    background-size: cover;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}


a{
    color: rgb(0, 0, 0);
}


h1 {
    color: rgb(0, 0, 0);
    text-shadow: -1px -1px 0 #ffffff;
    font-size: 3rem; 
    margin: 0; 
}


div { color : rgb(0, 0, 0);
    text-shadow:
    -1px -1px 0 #ffffff}


header {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1rem;
    text-align: center;
}

.pokemon-card {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    margin: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pokemon-card img {
    width: 100px;
    height: 100px;
    margin-bottom: 1rem;
}

.video-section img {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    width: 560px;
}
